RentACarForm/Connected Services/AracWebServis/AracWebServis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AracEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Araclar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Araclar">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AracId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Plaka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AracAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AracModeli" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GerekenEhliyetYasi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MinimumYasSiniri" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GunlukKmSiniri" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AracKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HavaYastigi" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BagajHacmi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KoltukSayisi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GunlukKiraBedeli" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rezerv" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Kirada" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="YakitTipi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VitesTipi" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AracResmi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Musteri" type="tns:Musteriler" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Musteriler">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TcKimlik" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MusteriId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KaraListe" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Araclar" type="tns:ArrayOfAraclar" />
          <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EhliyetYil" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EhliyetTipi" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAraclar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Araclar" nillable="true" type="tns:Araclar" />
        </s:sequence>
      </s:complexType>
      <s:element name="AracEkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AracEkleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracGuncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Araclar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracGuncelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AracGuncelleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracIdSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracIdSilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AracIdSilResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracHepsiniSec">
        <s:complexType />
      </s:element>
      <s:element name="AracHepsiniSecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AracHepsiniSecResult" type="tns:ArrayOfAraclar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracIdSec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracIdSecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AracIdSecResult" type="tns:Araclar" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AracEkleSoapIn">
    <wsdl:part name="parameters" element="tns:AracEkle" />
  </wsdl:message>
  <wsdl:message name="AracEkleSoapOut">
    <wsdl:part name="parameters" element="tns:AracEkleResponse" />
  </wsdl:message>
  <wsdl:message name="AracGuncelleSoapIn">
    <wsdl:part name="parameters" element="tns:AracGuncelle" />
  </wsdl:message>
  <wsdl:message name="AracGuncelleSoapOut">
    <wsdl:part name="parameters" element="tns:AracGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="AracIdSilSoapIn">
    <wsdl:part name="parameters" element="tns:AracIdSil" />
  </wsdl:message>
  <wsdl:message name="AracIdSilSoapOut">
    <wsdl:part name="parameters" element="tns:AracIdSilResponse" />
  </wsdl:message>
  <wsdl:message name="AracHepsiniSecSoapIn">
    <wsdl:part name="parameters" element="tns:AracHepsiniSec" />
  </wsdl:message>
  <wsdl:message name="AracHepsiniSecSoapOut">
    <wsdl:part name="parameters" element="tns:AracHepsiniSecResponse" />
  </wsdl:message>
  <wsdl:message name="AracIdSecSoapIn">
    <wsdl:part name="parameters" element="tns:AracIdSec" />
  </wsdl:message>
  <wsdl:message name="AracIdSecSoapOut">
    <wsdl:part name="parameters" element="tns:AracIdSecResponse" />
  </wsdl:message>
  <wsdl:portType name="AracWebServisSoap">
    <wsdl:operation name="AracEkle">
      <wsdl:input message="tns:AracEkleSoapIn" />
      <wsdl:output message="tns:AracEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracGuncelle">
      <wsdl:input message="tns:AracGuncelleSoapIn" />
      <wsdl:output message="tns:AracGuncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracIdSil">
      <wsdl:input message="tns:AracIdSilSoapIn" />
      <wsdl:output message="tns:AracIdSilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracHepsiniSec">
      <wsdl:input message="tns:AracHepsiniSecSoapIn" />
      <wsdl:output message="tns:AracHepsiniSecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracIdSec">
      <wsdl:input message="tns:AracIdSecSoapIn" />
      <wsdl:output message="tns:AracIdSecSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AracWebServisSoap" type="tns:AracWebServisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AracEkle">
      <soap:operation soapAction="http://tempuri.org/AracEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracGuncelle">
      <soap:operation soapAction="http://tempuri.org/AracGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracIdSil">
      <soap:operation soapAction="http://tempuri.org/AracIdSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracHepsiniSec">
      <soap:operation soapAction="http://tempuri.org/AracHepsiniSec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracIdSec">
      <soap:operation soapAction="http://tempuri.org/AracIdSec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AracWebServisSoap12" type="tns:AracWebServisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AracEkle">
      <soap12:operation soapAction="http://tempuri.org/AracEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracGuncelle">
      <soap12:operation soapAction="http://tempuri.org/AracGuncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracIdSil">
      <soap12:operation soapAction="http://tempuri.org/AracIdSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracHepsiniSec">
      <soap12:operation soapAction="http://tempuri.org/AracHepsiniSec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracIdSec">
      <soap12:operation soapAction="http://tempuri.org/AracIdSec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AracWebServis">
    <wsdl:port name="AracWebServisSoap" binding="tns:AracWebServisSoap">
      <soap:address location="http://localhost:52012/AracWebServis.asmx" />
    </wsdl:port>
    <wsdl:port name="AracWebServisSoap12" binding="tns:AracWebServisSoap12">
      <soap12:address location="http://localhost:52012/AracWebServis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>